{% extends "blog/index.html" %}

{% block title %}{% for post in posts %}{{ post.title }}{% endfor %} &raquo;&nbsp; PixelCode{% endblock %}

{% block extra_style %}
{{ block.super }}
<style>
    .social { padding: 10px; }
</style>
{% endblock %}


{% block posts %}
<div id="blog_container">
{% for post in posts %}
    <div class="post-entry">
        <div class="calendar-div">
            <span class="entry-month">{{ post.publish_date|date:"M"}}</span><br/>
            <span class="entry-date">{{ post.publish_date|date:"d"}}</span>
        </div>
        <div class="content-div">
            <a title="{{ post.title }}" rel="bookmark" href="{% url index %}{{ post.get_absolute_url }}"><h1>{{ post.title }}</h1></a>
            <div class="entry-content">
                {{ post.content|safe }}
            </div>
            <div class="social">
                <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=123147817768516&amp;xfbml=1"></script><fb:like href="http://pixelcode.ca{% url index %}{{ post.get_absolute_url }}" send="true" layout="button_count" width="200" show_faces="false" font=""></fb:like>
                <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="http://pixelcode.ca{% url index %}{{ post.get_absolute_url }}" num_posts="3" width="588"></fb:comments>        
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
