{% extends "index.html" %}

{% block extra_style %}
<style>
    #main_content { float: left; width: 100%; }
    hr { display: block; float: left; background-color: rgba(0,0,0,0.9); border-top: 2px solid rgba(0,0,0, 0.3); border-bottom: 1px solid rgba(255,255,255, 0.2); border-right: none; border-left: none;  width: 100%; margin: 30px 0; }
    #clients { vertical-align: middle; }
    #clients img { padding: 5px; border: 1px solid #434343; margin-right: 15px; }
    #clients img:hover { border: 1px solid #ff9902; }
	.jcarousel-skin-tango { margin: 30px 0 20px 35px; }
</style>
{% endblock %}

{% block main_content %}
<div id="main_content">
    <h1>Our Work</h1>

			<ul id="mycarousel" class="jcarousel-skin-tango">
				<li><a href="#"><img src="{{ MEDIA_URL }}images/portfolio/php.png" alt="PHP" /></a></li>
				<li><a href="#"><img src="{{ MEDIA_URL }}images/portfolio/python.png" alt="Python" /></a></li>
				<li><a href="#"><img src="{{ MEDIA_URL }}images/portfolio/java.png" alt="Java" /></a></li>
				<li><a href="#"><img src="{{ MEDIA_URL }}images/portfolio/mysql.png" alt="MySQL" /></a></li>
				<li><a href="#"><img src="{{ MEDIA_URL }}images/portfolio/couchdb.png" alt="CouchDB" /></a></li>
				<li><a href="#"><img src="{{ MEDIA_URL }}images/portfolio/ci.png" alt="Code Igniter" /></a></li>
				<li><a href="#"><img src="{{ MEDIA_URL }}images/portfolio/postgre.png" alt="PostgreSQL" /></a></li>
				<li><a href="#"><img src="{{ MEDIA_URL }}images/portfolio/mongodb.png" alt="MongoDB" /></a></li>
			</ul>    
    
    <hr />
    <h1>Our Clients</h1>
    <table id="clients">
        <tr>
            <td style="vertical-align:middle; height: 200px; ">
                <img src="{{ MEDIA_URL }}images/portfolio/client1.png" />
            </td>
            <td style="vertical-align:middle; height: 200px; ">
                <img src="{{ MEDIA_URL }}images/portfolio/client2.png" />
            </td>
            <td style="vertical-align:middle; height: 200px; ">                
                <img src="{{ MEDIA_URL }}images/portfolio/client3.png" />
            </td>
            <td style="vertical-align:middle; height: 200px; ">                
                <img src="{{ MEDIA_URL }}images/portfolio/client4.png" />
            </td>
            <td style="vertical-align:middle; height: 200px; ">                
                <img src="{{ MEDIA_URL }}images/portfolio/client5.png" />
            </td>
        </tr>
    </table>
</div>
{% endblock %}