.jcarousel-skin-tango .jcarousel-container {

}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 800px;
    padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 170px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
	margin: 0 20px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 760px;
    height: 110px;
}

.jcarousel-item a { float: left; height: 95px; overflow: hidden; }

.jcarousel-item a img:hover { margin-top: -95px; }

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  170px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 170px;
    height: 95px;
	border: 1px solid white;
	padding: 5px; 
}

.jcarousel-skin-tango .jcarousel-item:hover {
	border: 1px solid #ff9900;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 55px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/media/images/arrow-right.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover { background: transparent url(/media/images/arrow-right-hover.png) no-repeat 0 0; }

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 55px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/media/images/arrow-left.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover { background: transparent url(/media/images/arrow-left-hover.png) no-repeat 0 0; }